<launch>
  <!-- Sim time -->
  <param name="use_sim_time" value="true"/>

  <!-- 1️⃣ Gazebo + robot -->
  <include file="$(find odev)/launch/gazebo.launch"/>

  <!-- 2️⃣ Navigation (map + AMCL + move_base) -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(find odev)/maps/ev_haritam.yaml"/>
  </include>

  <!-- 3️⃣ Mission Manager -->
  <node pkg="odev"
        type="mission_manager.py"
        name="mission_manager"
        output="screen"
        required="true"/>
</launch>

